
{% extends "bootstrap/base.html" %}
{%block title%}Blog{%endblock%}            
{% block head %}
  {{ super() }}
  <style type="text/css">
    .body {
        background-color: white;
    }
    .jumbotron {
        background-image: url(/static/da.jpg);
        background-position: center center;
        background-repeat: repeat-x;
        margin: 0px 0px 0px 0px;
    }
    .welcome {
        font-family: Comic Sans MS;
        text-shadow: 2px 2px 2px #666666;
    }
    .navplus {
        margin: 0px;
        padding: 0px 20px 0px 20px;
    }
    body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
    p { line-height: 30px;}
    
  </style>
  
  <div class="jumbotron">
    <h1 class="welcome">Hello, world!</h1>
  </div>
  
  <script src="https://cdn.bootcss.com/jquery/3.2.1/core.js"></script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

{%endblock%}

{% block navbar %}
  <div class="navbar navbar-inverse navplus" role="navigation">
        <a class="navbar-brand" href="/">首页</a>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li><a href={{url_for('add_article')}}>写文章</a></li>
            <li><a href="{{url_for('logout')}}">登出</a></li>
            <li><a>{{current_user.username}}你好！</a></li>
          {% else %}
            <li><a href="{{url_for('login')}}">登入</a></li>
          {% endif%}
        </ul>

  </div>
{%endblock%}


{%block content%}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
      <button class="close"  data-dismiss="alert">&times;</button>
        {{message}}
      </div>
  {% endfor %}
{%endblock%}
