{% extends "base.html" %}
{%block title%}blog{%endblock%}

{% block head %}
  {{ super() }}
    <style type="text/css">
      .main {
          border-width: 2px;
          margin: 5px 5px 5px 5px;
      }

      .min-height {
          min-height: 1000px;
      }

      .sidebar {
          border-width: 2px;
          margin: 5px 5px 5px 5px;
      }
   
      .body {
          padding: 5px 5px 5px 5px;
          margin: 5px 5px 5px 5px;
          overflow: hidden;
      }
      .back {
          background-image: url(http://static.blog.csdn.net/skin/dark1/images/body_bg.jpg);
      }

  </style>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#delete").click(function(event) {
            if(confirm("是否删除")){
                $.post("/delete/"+this.value, [], function(response){
                    //alert(response)
                    //alert($.parseJSON(response).status)
                    location.href = $.parseJSON(response).location;
                })
            }
        })
      })
  </script>
{%endblock%}


{%block content%}
  {{super()}}
  <div class="container-fluid back">
    <div class="row">

      <div class="col-md-8 main">
        <div class="body">
          <div class="panel panel-default">
            <div class="panel-title"><h1>{{post.title}}</h1></div>
            <div class="panel-body min-height">
              {% if post.tag %}
                {% for tag in post.tag.split(" ") %}
                  <span class="badge">{{tag}}</span></a>
                {% endfor %}
              {% endif %}

              {% if post.html_text %}
                {{post.html_text|safe}} 
              {% else %}
                {{post.text}}
              {%endif%}

              <span class="badge pull-right">编辑时间 {{post.publish_date}}</span>
            </div>
          </div>
            <a href="{{url_for("edit_article", post_id=post.id)}}"><button  type="button" class="btn btn-primary">Edit</button></a>
            <button  type="button" class="btn btn-primary" id="delete" value={{post.id}}>Delete</button>
        </div>
      </div>

      <div class="col-md-3 sidebar">
        <div class="panel panel-default">
          <h2>最近的文章</h2>
          <div class="panel-body">
            {%for post in sidebar%}
              <div class="row">
                  <h4>{{post.title}}</h4>
                  <a href="{{url_for('post',post_id=post.id)}}">readmore</a>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>

      <div class="col-md-3 sidebar">
        <div class="panel panel-default">
          <h2>标签</h2>
          <div class="panel-body">
            {%for tag in sidebar_tag%}
              <div class="row">
                <a href="{{url_for('tag',tag=tag)}}">{{tag}}</a>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>


    </div>
  </div>
{%endblock%}
