{% extends "base.html" %}
{%block title%}blog{%endblock%}

{% block head %}
  {{ super() }}
    <style type="text/css">
      .main {
          border-width: 2px;
          margin: 5px 5px 5px 5px;
      }

      .sidebar {
          border-width: 2px;
          margin: 5px 5px 5px 5px;
      }
   
      .body {
          padding: 5px 5px 5px 5px;
          margin: 5px 5px 5px 5px;
          overflow: hidden;
      }
  </style>
{%endblock%}


{%block content%}
  {{super()}}
  <div class="container">
    <div class="row">

      <div class="col-md-8 main">
        <div class="body">
           <h1>{{post.title}}</h1>
           {% if post.html_text %}
             {{post.html_text|safe}} 
           {% else %}
             {{post.text}}
           {%endif%}
  
           <a href="{{url_for("edit_article", post_id=post.id)}}"><button  type="button" class="btn btn-primary">Edit</button></a>
             
        </div>
      </div>

      <div class="col-md-3 sidebar">
        {%for post in sidebar%}
          <div class="row">
              <h1>{{post.title}}</h1>
              <a href="{{url_for('post',post_id=post.id)}}">readmore</a>
          </div>
        {%endfor%}
      </div>

    </div>
  </div>
{%endblock%}
